.container{
    max-width: 970px;
    margin: 0 auto;
}
.home_con{
    background: url(https://cdn.pixabay.com/photo/2017/11/08/09/07/book-2929646_960_720.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 300px;

}
.home_text {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.home_text h1{
 
    font-size:36px;
    font-weight: 900;
}